* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

div#acessar {
    background-color: rgb(158, 23, 23);
    text-align: center;
    padding: 20px;
}

div#acessar > a {
    text-decoration: none;
    color: white;
}