* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../imagens/fundo-madeira.jpg) top no-repeat fixed;
    background-size: cover;
}

#iphoneFora {
    position: relative;
}
#iphone {
    background: url(../imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;
    height: 471px;
    width: 269px;
}
